



 
img {
  height:800px;
   flex-grow: 8;
}
.movie-card {
 
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-card{
  display: flex;
  flex-wrap:nowrap;
 
  flex-direction: row;
  justify-content: space-between;
}

.card-footer-badge {
  font-size: 1rem;
}




