



 
img {
  height:800px;
   flex-grow: 8;
}
.movie-card {
 
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-card{
  display: flex;
  flex-wrap:nowrap;
 
  flex-direction: row;
  justify-content: space-between;
}

.card-footer-badge {
  font-size: 1rem;
}
.movie-details{
 margin-left:400px;
    border: 1px solid #4CAF50;
     display: flex; 
     flex-direction: column;
    
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 900;
}




