

body {
  background: url(https://static.pexels.com/photos/1043/red-building-industry-bricks-large.jpg) no-repeat;
  background-size: cover;

  font: 90%/180% Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.app > .row {
	overflow-x: auto;
	flex-wrap:nowrap;
  

}
